---
layout: default
---
	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({{ "/static/images/projects/proj2.jpg" | relative_url }})" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-mt-15em">
				<div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
					<h1>Our <strong>Projects</strong></h1>
					<h2>Learn more about what we do</h2>
				</div>
			</div>
		</div>
	</header>

<br>
<br>

<section id="works" class="works">
	<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>R2-D2</h2>
					<p>The original R2-D2 Project focused upon creating a semi-autonomous lab assistant that would primarily move around and map out the surrounding environment.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="main_works">

				<div class="col-md-3 col-sm-9 col-xs-9">
					<div class="single_works text-right">
						<div class="single_works_deatels">
							<h5>Head <i class="icon icon-head"></i></h5>
							<p>The team is working on integrating the nerf blaster, a periscope, a lens aperture winking mechanism, and the head structure. We are also designing the new head and additional internal and external features on the R2 robot.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Precision Arm <i class="icon icon-reload"></i></h5>
							<p>We are designing a high precision robotic arm for use on R2. This arm has 5 degrees of freedom and will allow R2 to perform various tasks including waving hello, opening a door, and picking up a pen.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Nerf Gun <i class="icon icon-target"></i></h5>
							<p>Our goal is to create an automatic nerf gun placed inside R2D2’s body with two degrees of freedom. It is controlled by an arduino and integrated with facial recognition.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Locomotion <i class="icon icon-move"></i> </h5>
							<p>We are designing the new head and additional internal and external features on the R2 robot. This includes a head nodding mechanism and features like the nerf blaster attachment in R2's drawer.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Path Planning <i class="icon icon-line-graph"></i></h5>
							<p>Description</p>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-18 col-xs-18" style="margin-top: 100px">
					<div class="single_works_text_middel text-center">
						<img src="static/images/projects/R2v3.png" alt="" />
					</div>
				</div>

				<div class="col-md-3 col-sm-9 col-xs-9">
					<div class="single_works text-left">
						<div class="single_works_deatels">
							<h5>Facial Recognition <i class="icon icon-eye2"></i></h5>
							<p>The goal is to recognize the faces of Cornell Cup members and then check in for attendance. We are currently working on having faster transmission between the programs, creating a better facial recognition algorithm, and testing for Google Docs auto-fill API for check-in.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Strong Arm <i class="icon icon-man"></i></h5>
							<p>We are designing a durable robotic arm intended for performing operations requiring more strength for R2. This arm will be used for more higher-force operations, such as holding open doors and picking up heavy objects.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Object Detection <i class="icon icon-classic-computer"></i></h5>
							<p>The goal of the objection detection project is to be able to classify and locate an object from an image capture to guide R2 around the lab. Our eventual goal is to create a pipeline that can train a model to recognize objects in the lab given a set of training data.</p>
						</div>
						<div class="single_works_deatels">
							<h5>Speech & Sentiment Analysis <i class="icon icon-speech-bubble"></i></h5>
							<p>The purpose of this project is to make R2 able to react to sentiment in the user’s speech. R2 should react either negatively, by playing a sad noise on its speaker, or positively, by playing a happy sound on its speaker, based on the sentiment of the user’s speech.</p>
						</div><!-- End of single works deatels -->
					</div>
				</div><!-- End of col-md-4 -->
			</div><!-- End of main Works -->
		</div><!-- End of row -->
	</div><!-- End of container -->
</div>
</section>

	<section id="portfolio">
		<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Past Projects</h2>
					<p>Our portfolio is the best way to show our work, you can see here a big range of our work. Check them all and you will find what you are looking for.</p>
				</div>
			</div>
		</div>

		<div class="row row-0-gutter">
			<!-- start project -->
			{% for m in site.data.projects %}
			<div class="col-md-6 col-0-gutter">
				<div class="ot-portfolio-item">
					<figure class="effect-bubba">
						<img src="static/images/projects/{{m.image}}" alt="img02" class="img-responsive" />
						<figcaption>
							<h2>{{m.name}}</h2>
							<p>Click to Learn More!</p>
							<a href="#" data-toggle="modal" data-target="{{m.modal}}">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
			{% endfor %}
			<!-- end project -->
		</div>
		</div><!-- container -->
	</section>


	<!-- Modal for R2-->
	<div class="modal fade" id="r2" tabindex="-1" role="dialog" aria-labelledby="r2_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="r2_label">R2-D2</h4>
				</div>
				<div class="modal-body">
					<img src="static/images/projects/R2.png" alt="img01" class="img-responsive" />
					<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
					<p>The original R2-D2 Project focused upon creating a semi-autonomous lab assistant that would primarily move around and map out the surrounding environment. This old model also focused on recreating the visual appearance of the character R2D2 from the Star Wars franchise. The objective for this semester was to expand upon R2’s ability to interact with the environment around the robot while straying away from the original project inspiration of R2D2. </p>
					<p>One of the main goals this year is to change the focus towards inspiring excitement and interest in robotics and engineering in general. One of the main ways we are going to be meeting this goal is to create a Kickstarter campaign with the progress of the R2 robot.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for projects-->
	{% for m in site.data.projects %}
	<div class="modal fade" id="{{m.id}}" tabindex="-1" role="dialog" aria-labelledby="{{m.label}}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="{{m.label}}">{{m.name}}</h4>
				</div>
				<div class="modal-body">
					<img src="static/images/projects/{{m.image}}" alt="img01" class="img-responsive" />
					<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
					<p>{{m.description}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
