---
layout: default
---
	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({{ "/static/images/projects/proj2.jpg" | relative_url }})" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-mt-15em">
				<div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
					<h1>Our <strong>Projects</strong></h1>
					<h2>Learn more about what we do</h2>
				</div>
			</div>
		</div>
	</header>

	<section id="works" class="works">
		<div class="container">
			<div class="row">
				<div class="main_works">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works text-right wow fadeInLeft" data-wow-duration="2s">
							<div class="single_works_deatels">
								<i class="icon icon-heart"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div>
							<div class="single_works_deatels">
								<i class="icon icon-heart"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div>
							<div class="single_works_deatels">
								<i class="icon icon-star"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works_text_middel text-center wow fadeInDown" data-wow-duration="2s">
							<img src="static/images/projects/r2.png" alt="" />
						</div>
					</div>

					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works text-left wow fadeInRight" data-wow-duration="2s">
							<div class="single_works_deatels">
								<i class="icon icon-heart"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div>

							<div class="single_works_deatels">
								<i class="icon icon-heart"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div>

							<div class="single_works_deatels">
								<i class="icon icon-heart"></i>
								<h5>Carefully CRafted</h5>
								<p>Conveniently whiteboa prospect and  to perform catalysts change without principle centered to done power.</p>
							</div><!-- End of single works deatels -->
						</div>
					</div><!-- End of col-md-4 -->
				</div><!-- End of main Works -->
			</div><!-- End of row -->
		</div><!-- End of container -->
	</section>

	<section id="portfolio">
		<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Our Works</h2>
					<p>Our portfolio is the best way to show our work, you can see here a big range of our work. Check them all and you will find what you are looking for.</p>
				</div>
			</div>
		</div>

		<div class="row row-0-gutter">
			<!-- start project -->
			{% for m in site.data.projects %}
			<div class="col-md-6 col-0-gutter">
				<div class="ot-portfolio-item">
					<figure class="effect-bubba">
						<img src="static/images/projects/{{m.image}}" alt="img02" class="img-responsive" />
						<figcaption>
							<h2>{{m.name}}</h2>
							<p>Click to Learn More!</p>
							<a href="#" data-toggle="modal" data-target="{{m.modal}}">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
			{% endfor %}
			<!-- end project -->
		</div>
		</div><!-- container -->
	</section>


	<!-- Modal for projects-->
	{% for m in site.data.projects %}
	<div class="modal fade" id="{{m.id}}" tabindex="-1" role="dialog" aria-labelledby="{{m.label}}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="{{m.label}}">{{m.name}}</h4>
				</div>
				<div class="modal-body">
					<img src="static/images/projects/{{m.image}}" alt="img01" class="img-responsive" />
					<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
					<p>{{m.description}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
